[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pifkoin = {editable = true,git = "https://github.com/drewnewell/pifkoin.git"}

[requires]
python_version = "3.6"
